<section class="about-us-section">
  <div class="container about-us-container">
    <div class="about-img-container">
       <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/about-us/aboutUs-desctop-min.jpg    1x,
            /img/about-us/aboutUs-desctop@2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/about-us/aboutUs-table-min.jpg    1x,
            /img/about-us/aboutUs-table@2x-min.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/about-us/aboutUs-mobile-min.jpg    1x,
            /img/about-us/aboutUs-mobile@2x-min.jpg 2x
          "
        />
        <img src="/img/about-us/aboutUs-desctop-min.jpg" alt="Team" />
      </picture>
    </div>
    <div class="about-text-container">
      <svg class="logo-icon" width="80" height="80">
        <use href="/img/symbol-defs.svg#icon-logo-about-us"></use>
      </svg>
      <h2 class="about-title">About ArtistsHub</h2>
      <p class="about-text">
        At ArtistsHub, our mission is to connect music lovers with the artists
        they adore. We strive to create a vibrant community where discovering
        new music is as enjoyable as listening to it.
      </p>
    </div>
  </div>
</section>
