<section class="artists-section">
  <div class="container">
    
    <div class="artists-header-and-list">
      <h1>Artists</h1>
      <h2 class="section-title">Explore Your New Favorite Artists</h2>
      <ul class="artist-list" id="cards-container"></ul>
    </div>

    <button class="load-more-btn hidden">
      Load More
      <svg class="icon-icon-down-arrow-alt" width="24" height="24"><use href=".../img/sprite.svg/#icon-down-arrow-alt"></use></svg>
      <!-- <img
        src="../img/down-arrow-icon.svg"
        alt="Arrow icon"
        class="arrow-icon"
      /> -->
    </button>
    <span class="loader hidden">Loading...</span>
  </div>
</section>
