<section id="artist-section" class="artists-section">
  <div class="container artists-container">
    <h2 class="title-art">Artists</h2>
    <h3 class="section-title">Explore Your New Favorite Artists</h3>

    <ul class="artist-list" id="cards-container"></ul>

    <button class="load-more-btn hidden">
      Load More
      <svg
        class="arrow-icon"
        width="24"
        height="25"
        viewBox="0 0 24 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        focusable="false"
      >
        <path
          d="M18.707 13.6006L17.293 12.1866L13 16.4796V6.89355H11V16.4796L6.70697 12.1866L5.29297 13.6006L12 20.3076L18.707 13.6006Z"
          fill="white"
        />
      </svg>
    </button>
  </div>
</section>

<div class="loader-container hidden">
  <span class="loader"></span>
</div>
