<!-- <section class="artists-section">
  <div class="container artists-container">
    <h1>Artists</h1>
    <h2>Explore Your New Favorite Artists</h2>

    <ul class="cards-grid" id="cards-container"></ul>

    <button class="loadMoreBtn">
      Load More
      <img
        src="../img/down-arrow-icon.svg"
        alt="Arrow icon"
        class="arrow-icon"
      />
    </button>
  </div>
</section> -->



<!-- версія співрозробниці)-->

<section class="artists-section">
  <div class="container">
    <h1>Artists</h1>
    <h2 class="section-title">Explore Your New<br>Favorite Artists</h2>
    <ul class="artist-list" id="cards-container"></ul>

    <button class="load-more-btn hidden">
      Load More 
      <img
        src="../img/down-arrow-icon.svg"
        alt="Arrow icon"
        class="arrow-icon"
      />
    </button>
    <span class="loader hidden">Loading...</span>
  </div>
</section>



