<section id="reviews-section" class="feedback-section">
  <div class="container feedback-container">
    <div class="swiper feedback-swiper">
      <div class="swiper-wrapper"></div>
      <div class="swiper-button-prev feedback-button-prev">
        <svg class="icon-left">
          <use href="/img/symbol-defs.svg#icon-arrow-left2"></use>
        </svg>
      </div>
      <div class="swiper-button-next feedback-button-next">
        <svg class="icon-next">
          <use href="/img/symbol-defs.svg#icon-arrow-right2"></use>
        </svg>
      </div>
    </div>
    <div class="swiper-pagination feedback-pagination">
    
    </div>
  </div>
</section>