<section class="feedback-section">
  <div class="container">
    <div class="swiper feedback-swiper">
      <div class="swiper-wrapper" id="feedback-list"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  
    <div class="custom-pagination">
      <span id="pagination-first" class="pagination-btn"></span>
      <span id="pagination-middle" class="pagination-btn"></span>
      <span id="pagination-last" class="pagination-btn"></span>
    </div>

  </div>
</section>

