<section class="feedback-section">
  <div class="container">
    
      <div class="swiper feedback-swiper">
        <div class="swiper-wrapper" id="feedback-list"></div>
        <div class="swiper-button-prev">
          <svg class="swiper-svg" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-arrow-left2"></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg class="swiper-svg" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-arrow-right2"></use>
          </svg>
        </div>
      </div>
      <div class="custom-pagination">
        <span id="pagination-first" class="pagination-btn"></span>
        <span id="pagination-middle" class="pagination-btn"></span>
        <span id="pagination-last" class="pagination-btn"></span>
      </div>
    
  </div>
</section>

