<footer class="footer-section">
  <div class="container footer-container">
    <a href="../index.html" class="footer-logo">
      <svg class="footer-svg" width="" height="">
        <use href=""></use>
      </svg>
    </a>
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item" href="#artists">Artists</li>
        <li class="footer-nav-item" href="#about us">About us</li>
        <li class="footer-nav-item" href="#reviews">Reviews</li>
      </ul>
    </nav>
    <div class="divider"></div>
<div class="footer-social">
  <a  class="footer-social-link" href="https://www.instagram.com/" rel="noopener noreferrer" target="_blank">
    <svg class="" width="" height="">
      <use href=""></use>
    </svg>
  </a>
  <a  class="footer-social-link" href="https://www.facebook.com/" rel="noopener noreferrer" target="_blank">
    <svg class="" width="" height="">
      <use href=""></use>
    </svg>
  </a>
  <a  class="footer-social-link" href="https://www.youtube.com/" rel="noopener noreferrer" target="_blank">
    <svg class="" width="" height="">
      <use href=""></use>
    </svg>
  </a>
</div>
  </div>
</footer>
