<header class="section-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="/" class="logo-link">
        <svg class="logo-icon" width="119" height="31">
          <use href=""></use></svg
      ></a>

      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link">Artists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Feedback</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
