<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="/" class="header-logo-link">
        <svg class="logo-icon" width="119" height="52">
          <use href="/img/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#artist-section">Artists</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about-us-section">About us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews-section">Reviews</a>
        </li>
      </ul>
    </nav>

    <button class="burger-btn" type="button" aria-label="Open menu">
      <svg class="burger-icon" width="24" height="24">
        <use href="/img/symbol-defs.svg#icon-button-menu"></use>
      </svg>
    </button>
  </div>
</header>
