<section class="hero-section">
  <div class="container hero-container">
    <div class="main-inner">
      <h1 class="main-title">Discover Your Next Favorite Artist Today</h1>
      <p class="main-text">Dive into a world of music discoveries with ArtistsHub –
        your personal guide to the boundless universe of sound.
        Explore, filter, and learn about your favorite artists all in one place.</p>
    
<button type="button" class="main-button">
  <span class="main-btn-text">Explore Artists</span>
  <span class="main-btn-icon">
    <svg class="main-btn-svg" width="15" height="21">
      <use href="../img/symbol-defs.svg#icon-button-explore-artist"></use>
    </svg>
  </span>
</button>
    </div>

    <div class="main-wraper">
      <div class="main-box"><ul class="main-list">
        <li class="main-item main-img1"></li>
        <li class="main-item main-img2"></li>
        <li class="main-item main-img3"></li>
      </ul></div>
      <div class="main-box"><ul class="main-list">
        <li class="main-item main-img4"></li>
        <li class="main-item main-img5"></li>
        <li class="main-item main-img6"></li>
      </ul></div>
    </div>
  </div>
</section>
