<div class="mobile-backdrop">
    <div class="mobile-menu">
        <button class="mobile-close" aria-label="Close menu"> <svg class="close-icon" width="24" height="24">
                <use href="/img/symbol-defs.svg#icon-button-menu-close"> </use>
            </svg></button>
                <ul class="mobile-nav">
                    <li class="mob-nav-item">
                        <a class="mob-nav-link" href="#artists">Artists</a>
                    </li>
                    <li class="mob-nav-item">
                        <a class="mob-nav-link" href="#about-us">About us</a>
                    </li>
                    <li class="mob-nav-item">
                        <a class="mob-nav-link" href="#feedback">Feedback</a>
                    </li>
                </ul>
            
    </div>
</div>