/* about.css: Стили для блока About. Заполняется ответственным разработчиком. */

@media only screen and (min-width: 320px) {
  .about-us-container {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .about-text-container {
    display: flex;
    flex-direction: column;
  }

  .about-img-container {
    width: 280px;
    height: 168px;
    margin-top: 48px;
  }

  .about-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: 20px;
  }

  .about-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
  }

  .logo-icon {
    fill: #fff;
    margin-bottom: 20px;
    margin-top: 48px;
    width: 64px;
    height: 64px;
  }
}

@media only screen and (min-width: 768px) {
  .about-img-container {
    border-radius: 16px;
    width: 704px;
    height: 413px;
    margin-bottom: 48px;
  }

  .logo-icon {
    fill: #fff;
    margin-top: 48px;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-us-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    background: #060307;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .about-text-container {
    justify-content: center;
  }

  .about-img-container {
    border-radius: 16px;
    margin-bottom: 48px;
    width: 100%;
    height: 100%;
  }

  .logo-icon {
    fill: #fff;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
  }
}

img {
  border-radius: 16px;
}

