@import 'izitoast/dist/css/iziToast.min.css';

.artists-container {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-top: 64px;
  margin-bottom: 16px;
}

h2 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 32px;
}

.loadMoreBtn {
  margin: 0 auto;
  padding: 10px 24px;
  width: 288px;
  height: 47px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #764191;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.artist-photo {
  object-fit: cover;
  object-position: center 15%;
  display: block;
  border-radius: 16px;
  width: 100%;
  height: 177px;
}

.artist-info {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* показуємо 2 рядки */
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

/*--------Loader instalation-------*/
/* .loader {
  position: relative;
  border: 24px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  animation: eat 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0;
  animation: move 2s linear infinite;
}

.loader::before {
  animation-delay: 1s;
}

@keyframes eat {
  0%,
  49% {
    border-right-color: #fff;
  }
  50%,
  100% {
    border-right-color: #0000;
  }
}
@keyframes move {
  0% {
    left: 75px;
    opacity: 1;
  }
  50% {
    left: 0px;
    opacity: 1;
  }
  52%,
  100% {
    left: -5px;
    opacity: 0;
  }
} */

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .artist-photo {
    height: 432px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  h2 {
    width: 523px;
    font-size: 60px;
    margin-bottom: 80px;
  }

  .cards-grid {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
  }

  .artist-card {
    width: 640px;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .artist-photo {
    width: 100%;
    height: 393px;
  }
}
