* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #060307;
  color: #fff;
}

.container {
  padding: 0 16px;
  min-width: 320px;
  max-width: 374px;
  margin: 0 auto;
}

.artists-section {
  padding: 64px 16px;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 16px;
}

.artists-header-and-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 288px;
  margin: 0 auto;
  /* justify-content: center; */
}

.section-title {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 288px;
  width: 100%;
}

.artist-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* flex-direction: column; */
  gap: 0;
  /* margin: 0 auto; */
  width: 100%;
  /* justify-content: center; */
}

.artist-card {
  background-color: #060307;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: auto;
  width: 288px;
  min-width: 280px;
}

.artist-card:not(:last-child) {
  margin-bottom: 32px;
}

.artist-img {
  border-radius: 16px;
  object-fit: cover;
  /* width: 288px; */
  height: 177px;
}

.artist-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
  overflow: hidden;
}

.genre-tag {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  height: 32px;

  display: inline-block;
  padding: 4px 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.artist-name {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fff;
  margin: 0 0 8px;
}

.artist-about {
  overflow: hidden;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 24px;
}

.load-more-btn {
  border-radius: 12px;
  padding: 10px 24px;
  width: 288px;
  height: 47px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #764191;

  display: block;
  margin: 0 auto ;
  border: none;
  display: flex;
  justify-content: center;
}
.icon-icon-down-arrow-alt {
  margin-left: 12px;
  fill: #fff;
}

.learn-more-btn {
  background: none;
  color: #fff;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  padding: 8px 0;
  background-color: transparent;
  border: none;
  height: 27px;
  align-items: center;
  margin-bottom: 64px;
}

.learn-more-btn::after {
  content: '▶';
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1439px;
  }
  .artists-section {
    padding: 64px 32px;
  }
  .artists-header-and-list {
    max-width: 704px;
  }
  .section-title {
    font-size: 44px;
    line-height: 1.2;
    max-width: 580px;
  }
  .artist-list {
    flex-direction: row;
    gap: 32px;
  }
  .artist-card {
    width: 704px;
    min-width: 450px;
  }
  .artist-card:not(:last-child) {
    margin-bottom: 0;
  } 

  .artist-img {
    /* width: 704px; */
    height: 432px;
  }
  .learn-more-btn {
    margin-bottom: 0;
  }

  .load-more-btn {
    width: 340px;
    margin-top: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .artists-section {
    padding: 64px 112px;
  }

  .artists-header-and-list {
    max-width: 1312px;
  }

  .section-title {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 80px;
    width: 523px;
  }
  .artist-genres {
    gap: 16px;
    margin-bottom: 16px;
  }
  .artist-list {
    width: 100%;
    flex-direction: row;
  }
  .artist-card {
    width: calc((100% - 32px) / 2);
    min-width: 450px;
    margin-bottom: 0;
  }
  .artist-img {
    height: 393px;
  }
  .load-more-btn {
    width: 170px;
    margin: 64px auto 0;
  }
}

.loader {
  display: block;
  margin: 20px auto;
  width: 32px;
  height: 32px;
  border: 4px solid #ccc;
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.hidden {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
