/* Базовые стили (шрифты, цвета и т.д.) */
/* Epilogue 700 (Bold) */
@font-face {
  font-family: 'Epilogue';
  src: url('/fonts/Epilogue-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* IBM Plex Sans 400 (Regular) */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* IBM Plex Sans 500 (Medium) */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* IBM Plex Sans 600 (SemiBold) */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}
/* Основний текст */
body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  background-color: #060307; /* Чёрный фон */
  color: #ffffff; /* Белый текст */
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}