/* Styles for Mobile devices */
.container {
  margin: 0 auto;
  padding: 0 16px;
}

/* Styles for mobile devices */
@media only screen and (min-width: 320px) {
  .container {
    max-width: 767px;
    padding: 0 16px;
  }
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 1439px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
