.feedback-section {
    padding: 64px 0;
    text-align: center;
}

.feedback-card {
    width: 288px;
    height: 209px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.star-rating {
    margin-bottom: 32px;
}

.star {
    display: inline-block;
    width: 20px;
    height: 19px;
    margin-right: 4px;
}

.star.on {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23800080" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>');
}

.star.off {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23e0e0e0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73-1.64 7.03L12 17.27l6.18 3.73-1.64-7.03L22 9.24z"/></svg>');
}

.feedback-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 32px;
}

.feedback-author {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
}

.custom-pagination {
    width: 288px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-top: 16px;  
}

.pagination-btn {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #333030;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-btn.active {
    background-color: #fff;
}

.swiper {
    width: 288px;
    height: 209px;
    overflow: hidden;
}

    /* Приховуємо кнопки на екранах до 768px */
@media (max-width: 767px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .feedback-card,
    .swiper {
        width: 704px;
        height: 253px;
    }
    .custom-pagination {
        width: 704px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        border: 1px solid #333030;
        border-radius: 8px;
        padding: 12px;
        width: 48px;
        height: 48px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        color: white;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
    .feedback-section {
        padding: 112px 0;
    }
    .feedback-card,
    .swiper {
        width: 1312px;
        height: 353px;
        padding: 59px 0;
    }
    .custom-pagination {
        width: 1312px;
    }
}