
.section-header {
    height: 64px;
    position: relative;
    top: 0;
    left: 0;
}

.header-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 64px;
    top: 0;
    left: 50%;
    transform: translate(-50%) scale(1);
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.header-nav {
    width: 100%;
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 6.5px 4px 6.5px 10.5px;
    text-align: center;
}

.header-nav-list {
    display: none;
}


.logo-icon {
    margin: 10.63px 6.18px 10.17px 6.18px;
    width: 119px;
    height: 52px;
   fill: #764191;
}

.burger-icon {
    fill: #ffffff;
}
.burger-btn {
    width: 48px;
    height: 48px;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

@media screen and (min-width: 320px) {
    .header-container {
        max-width: 320px;
        height: 64px;
        }
}

@media screen and (min-width: 768px) {
    .header-container {
        width: 768px;
        height: 72px;
    }

    .header-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   .logo-icon {
    fill: #ffffff;
   }


    .burger-btn {
        display: none;
    }

    .header-nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        padding: 0;
        margin: 0;
    }

    .header-nav-link {
        text-align: center;
        transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-link:hover,
    .header-nav-link:focus {
        color: #764191;
    }

    .header-nav-link:active {
        color: #fff;
    }
}

@media screen and (min-width: 1440px) {
    .header-container {
        width: 1440px;
        background-color: transparent;
    }

}