.section-header {
    position: relative;
    top: 0;
    left: 0;
    height: 64px;
}

.header-container {
    position: absolute;
    width: 100%;
    height: 64px;
    top: 0;
    left: 50%;
    transform: translate(-50%) scale(1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.header-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6.5px;
    padding-left: 20px;
    padding-bottom: 6.5px;
    text-align: center;
}

.header-nav-list {
    display: none;
}

.logo-icon {
    margin: 10.63px 6.18px 10.17px 6.18px;
