/* about.css: Стили для блока About. Заполняется ответственным разработчиком. */


.mobile-backdrop {
    position: fixed;
    inset: 0;
    z-index: 10000;
    display: none;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #060307;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.mobile-nav {
    margin: auto;
    width: 109px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 39px;
}

.mob-nav-item {
    display: flex;
