/* about.css: Стили для блока About. Заполняется ответственным разработчиком. */

.mobile-backdrop {
  position: fixed;
  inset: 0;
  z-index: 10000;
  display: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #060307;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.mobile-nav {
  margin: auto;
  width: 109px;
  margin-top: 39px;
  height: 181px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mob-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  text-decoration: none;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
}

.mob-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav-link {
  text-align: center;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav-link:hover,
.mob-nav-link:focus {
  color: #764191;
}

.mob-nav-link:active {
  color: #ffffff;
}

.icon-close {
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-backdrop.open {
  display: block;
}

.mobile-backdrop.open .mobile-menu {
  transform: translateX(0);
}

.mobile-close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  padding: 0;
  margin-top: 26.3px;
  margin-right: 26.3px;
}

.close-icon {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .modal {
    display: none;
  }

  .mobile-logo {
    width: 106px;
    height: 30px;
    display: block;
    margin: 10px 6px 10px 6px;
  }
}

