a {
  margin: 0;
  padding: 0;
}

.backdrop {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    box-sizing: border-box;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.modal-artist {
  background-color: rgba(6, 3, 7, 1);
    padding: 64px;
    border-radius: 8px;
    max-width: 1184px;
    width: 95%;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    padding-top: 60px;

}

.no-scroll {
  height: 100%;
  overflow-y: hidden;
}

.modal-close-btn {
position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}


.modal-close-svg {
  fill: #fff;
}

.modal-content,
.modal-albums-content {
  padding: 52px 8px;
  height: auto;
  font-family: 'Epilogue', sans-serif;
  max-width: 100%;
}

.modal-content{
width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;

}

.band-title {
font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  margin-bottom: 16px;
  line-height: 1.3;
}

.band-thumbnail {
  display: block;
  border-radius: 16px;
}

.modal-band-overview {
  margin-bottom: 16px;
}

.modal-band-subtitle {
  font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}

.modal-band-text {
  font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}

.band-albums-title {
font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fff;
}

.band-albums-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}

.album-item {
  width: 272px;
  padding: 14px 11px;
  margin: 0 auto;
  background-color: #1e1c1f;
  border-radius: 16px;
}

.album-name {
  margin-bottom: 12px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.01em;
  font-size: 16px;
  padding-left: 8px;
}

.track-info {
  display: flex;
  color: #fff;
  height: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.01em;
  font-size: 8px;
  padding: 4px 4px 4px 12px;
  background-color: #343335;
  border-radius: 8px;
}

.track-name {
  width: 97px;
  display: flex;
  align-items: center;
}

.track-duration {
  width: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-link {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-item {
  display: flex;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.5;
  border-radius: 8px;
  padding: 8px 8px 8px 12px;
}

.track-item:nth-child(2n + 1) {
  background-color: #343335;
}

.modal-youtube-icon {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .backdrop {
    max-width: 720px;
  }

  .modal-content,
  .modal-albums-content {
    padding: 64px 24px;
  }

  .modal-close-btn {
    right: 48px;
  }

  .band-title {
    margin-bottom: 48px;
  }

  .band-thumbnail {
    border-radius: 16px;
      width: 654px;
      height: 402px;
  }

  .band-years,
  .band-sex,
  .band-members,
  .band-country {
    display: inline-block;
  }

  .band-years,
  .band-members {
    width: 146px;
  }

  .band-sex,
  .band-country {
    margin-left: 24px;
  }

  .modal-band-overview {
    margin-bottom: 24px;
  }

  .band-albums-list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .backdrop {
    max-width: 1312px;
  }

  .modal-content,
  .modal-albums-content {
    padding: 64px 64px;
  }

  .modal-close-btn {
    right: 16px;
  }

  .wrapper {
    display: flex;
  }

  .band-thumbnail {
    max-width: 100%;
    margin-right: 32px;
  }

  .band-sex,
  .band-country {
    margin-left: 24px;
  }

  .modal-band-history {
    margin-bottom: 24px;
  }
}
